bike-sharing-demand/.ipynb_checkpoints/bike-sharing-demand-checkpoint.ipynb
bike-sharing-demand/.ipynb_checkpoints/test-checkpoint.ipynb
movie-recommand/.ipynb_checkpoints/영화 추천 캐글-checkpoint.ipynb
movie-recommand/.ipynb_checkpoints/movie recommand-checkpoint.ipynb
movie-recommand/.ipynb_checkpoints/movie-recommand-final-checkpoint.ipynb
Pima Indians Diabetes Database/.ipynb_checkpoints/Pima Indians Diabetes Database-checkpoint.ipynb
Pima Indians Diabetes Database/data/diabetes.csv
